#explore-container {
	width: 100%;
	max-width: 574px;
	margin: auto;
}

#explore-map-container {
	/* height: 75vh; */
	height: min(100vh, 576px);
	border-radius: 20px;
	overflow: auto;

	background-image: url("https://p.kindpng.com/picc/s/188-1880987_enter-image-description-here-monochrome-hd-png-download.png");
	background-size: cover;
}

#explore-map {
	width: 100%;
}

#explore-content-card {
	padding-bottom: 20vh;
	/* box-shadow: 0 -10px 33px #ffffff66; */
}
@media screen and (max-width: 575px) {
	#explore-content-card {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

#explore-content-container {
	margin: 20px;
}